registry=https://registry.npm.taobao.org
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
ELECTRON_MIRROR=https://npm.taobao.org/npm/mirrors/electron/
electron_mirror=https://npm.taobao.org/npm/mirrors/electron/
phantomjs_cdnurl=https://npm.taobao.org/npm/mirrors/phantomjs/
fse_binary_host_mirror=https://npm.taobao.org/npm/mirrors/fsevents/
disturl=https://npm.taobao.org/npm/mirrors/node/